{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


    <div class="display-4 mb-4">
        Calc : <br>
         {{x}} * {{y}} = {{ res }}
    </div>

    
{% endblock %}
